[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
python-dotenv = "==0.13.0"
woocommerce = "==2.1.1"
pymongo = "==3.10.1"
mongoengine = "==0.20.0"
astroid = "==2.4.2"
certifi = "==2020.6.20"
chardet = "==3.0.4"
click = "==7.1.2"
colorama = "==0.4.3"
idna = "==2.10"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
jinja2 = "==2.11.2"
lazy-object-proxy = "==1.4.3"
markupsafe = "==1.1.1"
mccabe = "==0.6.1"
mysql-connector = "==2.2.9"
mysql-connector-python = "==8.0.20"
ordereddict = "==1.1"
protobuf = "==3.18.3"
pyaes = "==1.6.1"
pyasn1 = "==0.4.8"
pylint = "==2.5.3"
pymysql = "==0.9.3"
pytelegrambotapi = "==3.7.2"
requests = "==2.24.0"
rsa = "==4.1"
six = "==1.15.0"
sqlalchemy = "==1.3.17"
telethon = "==1.14.0"
toml = "==0.10.1"
urllib3 = "==1.25.9"
werkzeug = "==1.0.1"
wrapt = "==1.12.1"
apscheduler = "*"
dnspython = "*"

[requires]
python_version = "3.8"
